@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@font-face {
    font-family: "Android";
    src: url("/fontes/idroid.otf");
    font-weight: normal;
}


:root {
    --cor1: #0B5454;
    --cor2: #6DEEEE;
    --cor3: #1CD4D4;
    --cor4: #245454;
    --cor5: #15A1A1;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: "Shados Into Light", cursive;
    --fonte-android: "Android", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
}

main strong {
    color: #0B5454;
    font-weight: bolder;

}

header {
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor1));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}

header > h1 {
    color: white;
    font-family: var(--font-destaque); 
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px; 
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    
    
}

header > p {
    color: white;
    max-width: 500px;
    font-size: 1.2em;
    padding-bottom: 15px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.322);
}

nav a {
    color: var(--cor2);
    font-weight: bolder;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 5px;
    transition-duration: 0.7s;
}

nav > a:hover {
    color: var(--cor4);
    background-color: var(--cor2);
    padding: 10px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.596);
    border-radius: 0px 0px 20px 20px;
}

a.external::after {
    content: "\00A0\1F517\00A0";
}


main h1 {
    color: #1CD4D4;
    font-size: 1.8em;
    font-weight: normal;
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    background-image: linear-gradient(to right,var(--cor3),transparent);
    text-indent: 8px;
}

main a {
    text-decoration: none;
    font-weight: bolder;
    color: #245454;
    background-color: #1decec;
    padding: 3px 4px;
    border-radius: 5px;
}

main a:hover {
    text-decoration: underline;
    padding: 3px;
    transition-duration: 0.7s;
}

main img { 
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: #0B5454;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.377);
}

aside h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.8em;
}

aside ul {
    list-style-type: "\2611\00A0";
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 10px;
}

footer  a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor2);
    text-decoration: underline;
}